<div class="question-selector">
    <div class="question-selector__info">
        <span>Questions answered: {{ questionsAnswered }}</span>
        <span>Correct answers: {{ numberOfCorrectAnswers }}</span>
    </div>
    <ng-container *ngIf="currentQuestionIndex < questions.length; else worthiness">
        <lc-question-display
            [question]="questions[currentQuestionIndex]"
            (sendAnswer)="onSendAnswer($event, questions.indexOf(questions[currentQuestionIndex]))"
        ></lc-question-display>
    </ng-container>
    <ng-template #worthiness>
        <div class="question-selector__info">
            <span>The value of your worthiness is: {{ (numberOfCorrectAnswers / questionsAnswered) * 10 | number: '1.2-2' }}</span>
        </div>
    </ng-template>
    <ng-container
        *ngIf="
            currentQuestionIndex > 0 &&
            questions[currentQuestionIndex - 1].answer &&
            questions[currentQuestionIndex - 1].answer !== questions[currentQuestionIndex - 1].correctAnswer
        "
    >
        <span class="question-selector__correct-answer"
            >Wrong answer, the correct one was: {{ questions[currentQuestionIndex - 1].correctAnswer }}</span
        >
    </ng-container>
</div>
