.question-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;

    &__container {
        display: block;
        padding: 20px;
    }

    &__text {
        color: #ffffff;
        font-size: 2rem;
    }

    &__input {
        color: #333;
        font-size: 1.2rem;
        margin: 0 auto;
        padding: 5px;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 90%;
        display: block;
        transition: all 0.3s;
    }

    &__button {
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #aaaaaa;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        padding: 15px;
        margin: 20px 0 30px 0;
    }

    &__button:hover {
        background-color: #367368;
        box-shadow: 0px 15px 20px rgba(10, 51, 44, 0.4);
        color: #fff;
        transform: translateY(-2px);
    }
}
